.card
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: fit-content;
}
.block, .block1
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 500px;
    margin-left: 10px;
    color: rgb(245, 214, 151);
}
.picture
{
    width: 150px;
    height: 150px;
}
.block1
{
    width: fit-content;
    padding: 10px;
}
.a1
{
    color: brown;
    font-weight: bold;
}
.card0
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
